/*
**
*** About Styles
**
*/

/* .about
*/
.about
{
	@include rem(font-size, 16px);
	@include media(max-width, 275px)
	{
		@include rem(font-size, 11px);
	}
}


/* #about__header
*/

#about__header 
{
	font-size: em(36);
	padding-bottom: em(20);
	text-transform: uppercase;
	font-family: 'montserratbold', sans-serif;
}

/* #about__description
*/

#about__description 
{
	padding: 0 em(30);
	font-family: 'fira';
	@include text-shadow();
	font-size: em(18);
}
