/*
**
*** About Styles
**
*/

/* .about
*/
.about
{
	@include rem(font-size, 16px);
}


/* #about__header
*/

#about__header 
{
	font-size: em(36);
	padding-bottom: em(20);
	text-transform: uppercase;
	font-family: 'montserratbold', sans-serif;
}

/* #about__description
*/

#about__description 
{
	padding: 0 em(30);
	font-family: 'fira';
	font-size: em(18);
	@include paper-card(themeColor(three), 0px 2px 5px -1px rgba(0, 0, 0, 0.55));
	padding: em(10);
	width: em(270);
	margin: 0 auto;
}
