/*
**
*** Intro Styles
**
*/

// Global
.intro
{
	@include text-shadow();
}

/* Shared 
*/
#main__header, #sub__header, #main__header_description
{
	text-align: center;
}

/* #main__header
*/
#main__header
{
	font-family: 'fira';
	@include rem(font-size, 46px);
}

/* #sub__header
*/
#sub__header
{
	@include rem(font-size, 15px);
	transition: all 0.5s ease;
}

/* #main__header_description
*/
#main__header_description
{
	@include rem(font-size, 15px);
	@include rem(padding, 0 40px);
}

/* .wip
*/
.wip
{
	@include rem(font-size, 20px);
	color: themeColor(three);
	@include text-shadow();
	text-transform: uppercase;
	font-family: 'fira';
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  @include rem(margin-bottom, 70px);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  @include rem(height, 70px);
}
