/*
**
*** Intro Styles
**
*/

// Global
.intro
{
	@include text-shadow();
	@include rem(font-size, 16px);
}

/* Shared 
*/
#intro__header, #intro__sub_header, #intro__header_description
{
	text-align: center;
	cursor: default;
}

/* #intro__header
*/
#intro__header
{
	font-size: em(46);
}

/* #intro__sub_header
*/
#intro__sub_header
{
	font-size: em(17);
	transition: all 0.5s ease;
	@include media(max-width, 291px)
	{
		font-size: em(16);
	}
}

/* #intro__header_description
*/
#intro__header_description
{
	font-size: em(17);
	@include rem(padding, 0 40px);
}

/* .dynamic_text[x]
*/
.dynamic_text4
{
	color: themeColor(five);
}

#controls__msg
{
	text-align: center;
	font-size: em(12);
	text-transform: capitalize;
}

/* .arrows
*/
.arrows
{
	width: em(115);
	margin: 0 auto;
}

.arrow svg
{
	width: em(55);
	height: em(55);
	fill: themeColor(three);
}
.arrow.down svg 
{
	-webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}
.arrow.up svg
{
	-webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  @include rem(margin-bottom, 70px);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  @include rem(height, 70px);
}
