/*
**
*** Intro Styles
**
*/


/* Shared 
*/
#main__title, #sub__title, #main__title_description
{
	text-align: center;
}

/* #main__title
*/
#main__title
{
	font-family: 'fira';
	font-size: 7rem;
}

/* #sub__title
*/
#sub__title
{
	font-size: 2rem;
	transition: all 0.5s ease;
}

/* #main__title_description
*/
#main__title_description
{
	font-size: 1.5rem;
}
