/*
**
*** NavBar Styles
**
*/

/* #brand
*/
#brand
{
	@include rem(padding, 20px 0 0 20px);
	@include rem(font-size, 25px);
  font-family: 'montserratbold';
  transition: color 0.5s ease;
}

a.navbar-brand:hover
{
  color: themeColor(five);
}


/* #paper-plane
*/
#paper-plane
{
	@include rem(padding-right, 40px);
  color: themeColor(four);
}
#paper-plane_link
{
  margin-right: 0;
  display: block;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 12;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

/* .fa-bars
*/

.fa
{
  font-size: 25px !important;
}

.fa-bars
{
  color: themeColor(four);
  transition: color 0.5s ease;
}

i.fa-bars:hover 
{
  color: themeColor(four);
}