/*
**
*** Process Styles
**
*/

/* .process
*/
.process
{
	@include rem(font-size, 16px);
}

/* #process__header_block_wrap
*/
#process__header_block_wrap
{
	@include respond-to(xs)
	{
		width: em(665);
		margin: 0 auto;
		min-height: 194px;
	}
	@include respond-to(sm)
	{
		width: em(1001);
	}
}

/* .process__header_blocks
*/
.process__header_blocks
{
	width: em(240);
	margin: 0 auto;
	@include respond-to(xs)
	{
		float: left;
		width: em(332);
	}
	@include respond-to(sm)
	{
		width: em(250);
	}
}
.process__header_blocks.one
{
	@include respond-to(xs)
	{
		padding-bottom: em(40);
	}
	@include respond-to(sm)
	{
		padding-left: em(0);	
	}
}

.process__header_blocks.two
{
	@include respond-to(xs)
	{
		padding: 0 0 em(40) em(80);

	}
	@include respond-to(sm)
	{
		padding-left: em(0);	
	}
}

.process__header_blocks.three
{
	@include respond-to(sm)
	{
		padding-left: em(0);	
	}
}

.process__header_blocks.four
{
	@include respond-to(xs)
	{
		padding-left: em(80);
	}
	@include respond-to(sm)
	{
		padding-left: em(0);	
	}
}
/* .process__header_block
*/
.process__header_block
{
	width: em(275);
	margin: 0 auto;	
	margin-top: em(10);
	margin-bottom: 0;
	padding: em(10) 0;
}

.process__header_block.one
{
	padding-top: em(50);
	@include respond-to(xs)
	{
		padding: em(10) 0;
	}
}

.process__header_block.two
{

}

.process__header_block.three
{

}

.process__header_block.four
{

}

/* .process__list
*/
.process__list
{
	width: em(285);
	margin: 0 auto;
	padding: 0 0 0 em(30);
}

/* .process__list_title
*/
.process__list_title
{
	margin: 0;
	padding: 0;
	text-align: left;
}
/* .process__list_title_border
*/
.process__list_title_border
{
	width: em(20);
	border-bottom: 2px solid themeColor(one);
}

/* .process__list_item
*/
.process__list_item
{
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
