/*
**
*** Work Styles
**
*/


/* .work
*/
.work 
{
  @include rem(font-size, 16px);
  font-family: 'montserratbold'; 
}

/* .work__project
*/
.work__project 
{
  font-size: 2.0175em;
  padding-bottom: 0.5em;
  text-align: center;
  text-shadow: 0 0.02em #fff;
  color: #E1D4C0;
  transition: color 0.5s ease;
  cursor: pointer;
  margin: 0 auto; 
  }

h1.work__project:hover 
{
  color: #FF6600; 
  }

.work__project.one 
{
  width: 6.25em; 
  }

.work__project.two 
{
  width: 12.25em; 
  }

.work__project.three 
{
  width: 10.25em; 
  }

.work__project.four 
{
  width: 5.85em; 
  }

/* .work__project_Link
*/
a.work__project_link
{
  text-decoration: none;
}

/* #divider
*/
#divider
{
  color: themeColor(one);
  padding: 0 em(10);
  font-size: em(24);
}

/* #resume
*/
a#resume
{
  color: themeColor(three);
  font-size: em(24);
  text-decoration: none;
  transition: color 0.5s ease;
  
}
a#resume:hover
{
  color: themeColor(five);
  font-size: em(24);
  
}

/* #github
*/
#github 
{
  margin-top: -2.475em;
  fill: #E1D4C0;
  position: relative;
  transition: fill 0.5s ease;
  top: em(21);
  width: em(90);
  transition: fill 0.5s ease; 
}

svg#github:hover
{
  fill: themeColor(five);
}

/*
** Disable Select
*/
#github_a,  #github, .work__project, a#resume, #divider
{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
