/*
**
*** Work Styles
**
*/

/* .work
*/
.work
{
	@include rem(font-size, 16px);
}

/* #work__header
*/
#work__header
{
	font-size: em(35);
	text-transform: capitalize;
}

/* .work__project
*/
.work__project
{
	
}

/* .work__project_title
*/
.work__project_title
{
	font-size: em(20);
	padding-left: em(20);
	text-align: left;	
	text-decoration: underline;
	color: themeColor(five);
}

/* .work__project_description
*/
.work__project_description
{
	padding: 0 em(20);
	font-size: em(15);
	text-align: left;
}