/*
**
*** NavBar Styles
**
*/

/* Brand
*/
#brand
{
	color: $black; 
	padding: 2rem 0 0 5rem;
	font-size: 5.5rem;
  font-family: 'mathletebulky_slant';
	font-weight: 500;
}

/* Paper Plane
*/
#paper-plane
{
	padding-right: 5rem;
}
#paper-plane_link
{
  margin-right: 0;
  display: block;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  z-index: 12;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}