/*
**
*** Paper-Tab Styles
**
*/

.work__toolbar
{
    height: em(64);
    background: themeColor(one);
    width: em(400);
    margin: 0 auto;
}
.work__toolbar.card--z-1
{
    border: none;
}

/* selectionBar
*/

paper-tabs::shadow #selectionBar {
  background-color: themeColor(five);
}

/* ink ripple color
*/
paper-tabs paper-tab::shadow #ink {
  color: themeColor(three);
}

.work__content
{
    height: em(110);
    position: relative;
    top: 0px;
    overflow: hidden;
    width: em(400);
    margin: 0 auto;
}
.work__content.card--z-1
{
    border: none;
}

/* .work__content_title
*/
.work__content_title
{
    transition: color 0.5s ease;
    cursor: default;
}
.work__content_title:hover
{
    color: themeColor(five);        
}
