/*
**
*** General Styles
**
*/

// General
 body
 {
     font-family: 'Open Sans';
     background-color: $secondary;
     color: $quadrant;
     text-shadow: 0 0.02em #fff;
 }

// Utility
.underline
{
    text-decoration: underline;
}