/*
**
*** General Styles
**
*/

// General
 body
 {
     font-family: 'Open Sans';
     background-color: themeColor(bg);
     color: themeColor(txt);
 }

// Utility
.underline
{
    text-decoration: underline;
}