/*
**
*** General Styles
**
*/

// General
 body
 {
     font-family: 'Open Sans';
     background-color: $secondary;
     color: $quadrant;
 }

// Utility
.underline
{
    text-decoration: underline;
}