/*
**
*** Overrides Styles
**
*/

.container
{
	width: 100%;
	padding: 0;
}

/* Document level font adjustments 
*/
.navbar, .about, .intro, .work, .process, .contact
{
	@include media(max-width, 275px) // Super Small Devices
	{
		@include rem(font-size, 11px);
	}
	@include respond-to(sxs)
	{
		@include rem(font-size, 16px);
	}
}

/*
** Disable Select
*/
#brand, #active__page_container, .main-menu li a, #intro__header, #intro__sub_header, #intro__header_description
{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}