/*
**
*** Utility Styles
**
*/

// Positioning

/* Center intro content w/ Tables
*/
.table
{
	display: table;
	margin-bottom: 0;
}

.table__cell
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

// Text
.underline
{
    text-decoration: underline;
}

// Mixins
$light: 0 0.02em #fff;
$dark: 0 0.02em $black;

@mixin text-shadow($ts-style: $light) {
	text-shadow: $ts-style;
}

.text-shadow-light
{
	@include text-shadow();
}

.text-shadow-dark
{
	@include text-shadow($dark);
}