.browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

// Fonts

@font-face {
    font-family: 'mathletebulky_slant';
    src: url('fonts/mathlete-bulkyslant-webfont.eot');
    src: url('fonts/mathlete-bulkyslant-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mathlete-bulkyslant-webfont.woff2') format('woff2'),
         url('fonts/mathlete-bulkyslant-webfont.woff') format('woff'),
         url('fonts/mathlete-bulkyslant-webfont.ttf') format('truetype'),
         url('fonts/mathlete-bulkyslant-webfont.svg#mathletebulky_slant') format('svg');
    font-weight: normal;
    font-style: normal;
}

