
// General
 body
 {
     font-family: 'Open Sans';
 }

// Utility
.underline
{
    text-decoration: underline;
}

// Fonts
@font-face {
    font-family: 'fira';
    src: url('fonts/FiraSans-Medium.otf');
    font-weight: normal;
    font-style: normal;
}


// Misc
.browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }
